<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs",{title:"Add folder"}) %>
  <body>
    <form action="/user/add_folder" method="post" class="addFolderForm">
      <div>
        <label for="folderName">Folder name:</label>
        <input type="text" name="folderName" id="folderName" required />
      </div>
      <button class="addFolderButton" type="submit">Add folder</button>
    </form>
  </body>
</html>
