<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs",{title:"Folder"}) %>
  <body>
    <div class="folderContainer">
      <div class="userSidebar">
        <div>
          <h2 class="userTitle title">Folder</h2>

          <a href="/user/add_file">Add file</a>
        </div>
        <a href="/logout" class="logout">LOG OUT</a>
      </div>

      <div class="grid">
        <% if(files) {for( let i = 0; i < files.length; i++ ) { %>
        <a href="">
          <div class="gridBlock file">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <title>file-document-outline</title>
              <path
                d="M6,2A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6M6,4H13V9H18V20H6V4M8,12V14H16V12H8M8,16V18H13V16H8Z"
              />
            </svg>
            <div><%= files[i].name %></div>
          </div>
        </a>
        <% } } %>
      </div>
    </div>
  </body>
</html>
